:root {
  --color-primary: oklch(45% 50% 264);
  --color-secondary: oklch(50% 55% 31);
  @media (prefers-color-scheme: dark) {
    --color-primary: oklch(69% 50% 264);
    --color-secondary: oklch(80% 55% 31);
  }
}

.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.ScrubArea {
  cursor: ew-resize;
  font-weight: bold;
  user-select: none;
}

.ScrubAreaCursor {
  filter: drop-shadow(0 1px 1px #0008);
}

.Label {
  cursor: ew-resize;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-gray-900);
} 

.Group {
  display: flex;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  border: none;
  height: 2.5rem;
  width: 23rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  color: var(--color-gray-900);

  text-align: left;
  font-variant-numeric: tabular-nums;

  &:focus {
    z-index: 1;
    outline: 0px solid var(--color-secondary);
    outline-offset: -1px;
  }
}

.Decrement,
.Increment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 1.25rem;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  background-clip: padding-box;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }
}

