.Field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ScrubArea {
  cursor: ew-resize;
  font-weight: bold;
  user-select: none;
}

.Label {
  cursor: ew-resize;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
} 

.Group {
  align-items: center;
  display: flex;
  width: 100%;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  border: none;
  height: 2.5rem;
  width: 5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  font-variant-numeric: tabular-nums;
}

.Decrement,
.Increment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 0px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  background-clip: padding-box;
  user-select: none;
}
