{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["prettier"],
  "ignorePatterns": ["**/*.stories.tsx"],
  "rules": {
    "no-undef": "off",
    "import/no-unresolved": [2, { "ignore": ["@mui", "@ska-", "react-router-dom"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "prettier/prettier": ["error"]
  }
}