.Field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex: 1 1 auto;
  gap: 0;
}

.ScrubArea {
  cursor: ew-resize;
  font-weight: bold;
  user-select: none;
}

.ScrubAreaCursor {
  filter: drop-shadow(0 1px 1px #0008);
}

.Label {
  cursor: default;
  font-size: 0.875rem;
  line-height: 1.4375rem;
  font-weight: 500;
  color: var(--mui-label-color);
}

.Group {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--mui-label-color);
  align-items: center;
}

.Input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  min-width: 0;
  flex: 1 1 0; 
  height: 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.Input:focus {
  z-index: 1;
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.Clear {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  min-width: 0;
  flex: 1 1 0;
  height: 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.Clear:focus {
  z-index: 1;
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.Prefix,
.Suffix {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  background-clip: padding-box;
  user-select: none;
  flex: 0 0 auto;
}

.Decrement,
.Increment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  user-select: none;
}

.Decrement:hover,
.Increment:hover {
  background-color: var(--color-gray-100);
}

.Decrement:active,
.Increment:active {
  background-color: var(--color-gray-100);
}

.Decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}